.content-course-layout{
    margin-top: 10px;
    padding: 10px 10px;
    overflow-y: auto;
    height: calc(100vh-10px);
    
}
.content-card-parent{
    padding: 14px;
    background: #fff;
    border-radius:8px ;
    
}
.filter-courses{
    margin-left: 8px;
}