/* Sidebar.css */
.custom-sider {
  display: flex;
  flex-direction: column;
}

.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74px;
}

.logo-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.menu-padding {
  margin-top: 16px;
}

.ant-menu-item-selected {
  background-color: #1890ff !important; /* Màu nền khi mục được chọn */
  color: #fff !important; /* Màu chữ khi mục được chọn */
}

.ant-menu-item {
  transition: background-color 0.3s; /* Hiệu ứng chuyển đổi mượt mà */
}

.ant-menu-item:hover {
  background-color: #40a9ff; /* Màu nền khi hover */
}
