.time-picker{
    text-align: center;
    font-weight: 600;
    padding-top: 8px;
    
    font-size: 20px;
   
}
.border-bottom{
    margin-bottom: 20px;
}
.question-length{
    display: flex;
    gap: 24px;
    margin:20px 0 20px 0;
    flex-wrap: wrap;

}
.question-item{
    border: 1px solid #87878787;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    

}

.question-item:hover{
    color: red;
}

.question-item.answered {
    background-color: gray; 
    color: white;
}

.question-item.answered:hover{
   color: red;
}